@reference "../../../../../tailwind.css";
.discover-start {
  @apply py-20 bg-base-0;

  .container {
    @apply mx-auto px-3;

    .contain {
      @apply flex flex-col lg:flex-row items-center justify-between;

      // .left {
      //   @apply w-full lg:w-1/2 ps-3 pe-3 lg:pe-14 mb-10 lg:mb-0;

      //   .theme-title {
      //     @apply mb-10 text-center lg:text-left;

      //     h6 {
      //       @apply mb-2 text-primary-500;
      //     }

      //     h4 {
      //       @apply font-semibold;
      //     }

      //     span {
      //       @apply text-primary-500;
      //     }

      //     p {
      //       @apply mt-3;
      //     }
      //   }

      //   .main-contain {
      //     @apply my-8 flex flex-col sm:flex-row;

      //     .featured-item {
      //       @apply px-3;

      //       .featured-top {
      //         @apply flex gap-5 pb-4 items-center;


      //         h6 {
      //           @apply mb-1;
      //         }

      //         .nav-icon {
      //           @apply fill-primary-500;
      //         }
      //       }

      //       p {
      //         @apply mt-4;
      //       }
      //     }
      //   }
      // }

      .right {
        @apply px-3 relative;

        .image-wrapper {
          width: 550px;
          height: 550px;
          clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);

          img {
            @apply bg-cover bg-center w-full h-full;
          }
        }

        .img-2 {
          @apply absolute bg-cover -bottom-4 -right-10;
          height: 200px;
          width: 200px;
          clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
        }

        .about-counter {
          @apply bg-primary-500 text-base-100 absolute bottom-10 left-1 flex items-center justify-center;
          height: 200px;
          width: 200px;
          clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);

          span {
            @apply text-4xl;
          }
        }
      }
    }
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.float {
  animation: float 2s ease-in-out infinite;
}