@reference "../../../../tailwind.css";

  .service-item {
    @apply relative bg-base-0 rounded-2xl overflow-hidden shadow-md flex flex-col items-center text-center;
    width: 320px;

    .image-wrapper {
      @apply relative w-full overflow-hidden;
      height: var(--img-h, 180px);
    .main-image {
      @apply absolute inset-0 w-full h-full object-cover;
      }
    }
    .icon-wrapper {
      @apply absolute left-1/2 top-2/6 -translate-x-1/2 z-20 flex items-center justify-center pointer-events-none;
      .service-icon {
      @apply bg-primary-500 text-white p-3 fill-base-100;
      width: 80px;
      height: 80px;
      clip-path: polygon(
        45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%,
        53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%,
        92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%,
        94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%,
        93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%,
        55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%,
        48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%,
        8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%,
        5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%,
        5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%,
        10.35898% 21.33975%
        );
      }
    }
    .info-wrapper {
      @apply w-full px-6 pb-8;
      padding-top: 48px;
      box-sizing: border-box;
    .content {
      @apply text-gray-800;

    .title {
      @apply text-xl font-semibold mb-2 leading-tight line-clamp-2 h-[56px];
    }

    .description {
      @apply text-sm mb-4 leading-relaxed;
    }

    .read-more {
      @apply inline-flex items-center text-black font-semibold hover:text-primary-500 transition;
    } 
      }
    }
  }