@reference "../../../../tailwind.css";

.portfolio-start {
  @apply pb-20;

  .container {
    @apply px-3 mx-auto flex flex-col items-center justify-center text-center;

    .theme-title {
      @apply mb-10;

      h6 {
        @apply mb-2 text-primary-500 uppercase font-semibold;
      }

      h3 {
        @apply capitalize font-bold;

        span {
          @apply text-primary-500;
        }
      }
    }
  }

  .swiper-container {
    @apply flex items-center justify-between w-full px-3 mx-auto max-w-7xl;

    .swiper-slide {
      .profile-card {
        @apply relative flex flex-col items-center justify-center bg-base-0 rounded-xl overflow-hidden cursor-pointer;

        .portfolio-desc {
          @apply absolute top-3/4 left-1/2 bg-base-0 rounded-lg ps-7 pe-15 py-6 w-[260px];
          transform: translate(-50%, -50%) perspective(400px) rotateX(-90deg);
          opacity: 0;
          transition: transform 0.5s ease, opacity 0.5s ease;
          transform-style: preserve-3d;
          backface-visibility: hidden;

          span {
            @apply text-gray-500;
          }

          h6 {
            @apply font-semibold;
          }
        }

        .group:hover .portfolio-desc {
          transform: translate(-50%, -50%) perspective(400px) rotateX(0deg);
          opacity: 1;
        }

      }
    }
  }
}