@reference "../../../../tailwind.css";

footer {
  @apply pt-20 bg-black text-base-300;

  .container {
    @apply px-3 mx-auto flex flex-col items-center justify-between w-full;

    .top-contain {
      @apply flex flex-col lg:flex-row justify-between pb-12 w-full;

      .left {
        @apply px-3 w-full lg:w-1/2 font-bold mb-6 lg:mb-0;
      }

      .right {
        @apply px-3 flex flex-col sm:flex-row gap-4 w-full lg:w-1/2 justify-start lg:justify-end items-start;

        .secondary {
          @apply bg-base-100 text-black hover:text-base-300 transition-colors duration-300 ease-in-out;
        }
      }
    }

    hr {
      @apply bg-base-100 border-none opacity-10 mb-5 w-full;
      height: 1px;
    }

    .bottom-contain {
      @apply flex flex-col lg:flex-row w-full mb-10;

      h6 {
        @apply text-lg sm:text-xl font-bold text-white mb-3;
      }

      .right {
        @apply ps-3 pe-12 mt-6 lg:mt-0;

        img {
          @apply mb-4;
        }

        ul {
          @apply flex flex-col gap-y-5 pb-4 font-bold;
        }
      }

      .left {
        @apply px-3;

        .contain {
          @apply flex flex-col sm:flex-row w-full;
          ul {
              @apply flex flex-col gap-y-5 pb-4 font-bold;
            }
          div:first-child,
          div:nth-child(2) {
            @apply pe-0 sm:pe-3 mb-3 sm:mb-0;
          }

          div:nth-child(3) {
            @apply ps-0 sm:ps-12;

            

            form {
              @apply flex items-center w-full max-w-md border border-gray-800 rounded-lg px-4 py-2 mt-4;

              input {
                @apply flex-grow h-12 bg-transparent text-white placeholder-gray-400 border-none focus:outline-none;
              }

              button {
                @apply ml-3 w-12 h-12 flex items-center justify-center bg-primary-500 rounded-lg hover:bg-primary-600 transition;

                svg {
                  @apply w-6 h-6 text-white;
                }
              }
            }
          }
        }
      }
    }

    .secondary-footer {
      @apply bg-black text-white w-full py-10;

      .container {
        @apply mx-auto flex flex-col lg:flex-row items-center justify-between gap-4;

        .right {
          @apply flex items-center gap-3;

          a {
            @apply w-10 h-10 flex items-center justify-center fill-base-0 rounded-full bg-neutral-800 hover:bg-primary-500 transition duration-300 ease-in-out;
          }
        }
      }
    }
  }
}