@reference "../../../../../tailwind.css";

.blog-start {
  @apply py-20 bg-base-100;

  .container {
    @apply mx-auto px-4;

    .title {
      @apply text-center mb-12;

      h6 {
        @apply text-primary-500 font-medium mb-2;
      }

      h3 {
        @apply md:text-4xl font-semibold capitalize px-3;
      }

      .subtitle {
        @apply text-primary-500;
      }
    }

    .posts {
      @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8;

      .post-card {
        @apply bg-base-0 rounded-xl shadow-md hover:shadow-lg transition duration-300 overflow-hidden;

        .image {
          @apply relative z-0 overflow-hidden rounded-t-xl;
          img {
            @apply w-full h-full object-cover block;
          }
        }

        .content {
          @apply p-10 flex flex-col items-center text-center bg-base-0 relative z-10 -mt-20 rounded-xl;

          .meta {
            @apply flex items-center text-sm mb-2 gap-6;
            div {
              @apply flex items-center gap-1;

              svg {
                @apply fill-primary-500;
              }

              span {
                @apply uppercase;
              }
            }
          }

          hr {
            @apply my-4 w-full border-t border-gray-200;
          }

          h6 {
            @apply text-gray-900 text-2xl font-semibold mb-3 line-clamp-2;
          }

          a {
            @apply inline-flex items-center font-semibold text-sm uppercase;
          }
        }
      }
    }
  }
}

