@reference "../../../../../tailwind.css";
.brand-logo-start {
  @apply hidden md:block pt-20 bg-base-100;

  .container {
    @apply mx-auto px-4;

    div {
      @apply flex flex-col md:flex-row md:items-center;

      .title {
        @apply w-full md:w-1/4 xl:w-1/6;

        h6 {
          @apply text-primary-500;
        }
      }

      div {
        @apply w-full md:w-3/4 xl:w-5/6 mt-3 md:mt-0;

        .clients-logo img {
          @apply opacity-50 cursor-pointer h-12 w-auto object-contain;
          transition: opacity 0.3s ease;
        }

        .clients-logo img:hover {
          @apply opacity-100;
        }
      }
    }

    hr {
      @apply bg-base-300 border-none opacity-50 mt-10;
      height: 1px;
    }
  }
}