@reference "../../../../tailwind.css";

.testimonial-start {
  @apply py-10 md:py-20 bg-black text-white;

  .container {
    @apply px-4 sm:px-6 md:px-8 mx-auto flex flex-col items-center justify-center text-start;

    hr {
      @apply bg-base-300 border-none opacity-25 mb-8 md:mb-12;
      height: 1px;
    }

    .top-contain {
      @apply pb-6 md:pb-12 w-full flex flex-col md:flex-row gap-4 md:gap-8 items-start md:items-end;

      div {
        h6 {
          @apply mb-2 text-sm md:text-base;
        }

        h3 {
          @apply capitalize text-xl md:text-2xl items-start flex;

          span {
            @apply text-primary-500;
          }
        }
      }

      div:last-of-type {
        @apply flex justify-start md:justify-end md:w-auto;

        .rating {
          @apply p-3 md:p-4 inline-block rounded-2xl bg-primary-500;
        }
      }
    }

    .bottom-contain {
      @apply flex flex-col md:flex-row gap-6 md:gap-10 w-full;

      .avatar-img {
        @apply relative w-full md:w-2/5 aspect-square object-cover relative block;
        clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%,
            51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%,
            91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%,
            94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%,
            94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%,
            89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%,
            50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%,
            10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%,
            5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%,
            5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%,
            8.93111% 22.33956%, 10.35898% 21.33975%);
      }

      .img-icon {
        @apply absolute fill-white bg-primary-500 inline-block rounded-full p-2 border-10 border-black top-1/4 right-1/45 md:top-1/3 md:left-1/3 md:right-auto;
        transform: translate(20%, -90%);
      }

      .swiper-slide {
        @apply bg-black flex flex-col md:flex-row relative gap-6 md:gap-9;

        .testimonial-content {
          @apply flex flex-col justify-center text-sm md:text-base;

          .testimonial-rating {
            @apply flex fill-warning-400 gap-1;
          }

          p {
            @apply my-4 md:my-5;
          }

          h5 {
            @apply mb-1 text-base md:text-lg;
          }
        }
      }
    }
  }
}