@reference "../../../../../tailwind.css";
.hero-section-start {
  .swiper-slide {
    @apply relative;

    img {
      @apply relative w-full h-48  md:h-auto object-cover;

      @media (min-width: 768px) {
        @apply h-64;
      }
      @media (min-width: 1200px) {
        @apply h-auto;
      }
    }

    .image-overlay {
      @apply absolute inset-0 w-full h-full pointer-events-none;
      background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
      z-index: 10;
    }

    .slide-content {
      @apply hidden;

      @media (min-width: 640px) {
        @apply py-5 px-10;
      }

      @media (min-width: 768px) {
        @apply block absolute top-1/2 left-1/14 -translate-y-1/2 transform py-3 px-4 px-36 z-20 text-black;
      }

      h6 {
        @apply mb-5;
      }

      h2 {
        @apply mb-7;

        span {
          @apply text-primary-500;
        }
      }

      p {
        @apply my-7;
      }

      .buttons {
        @apply flex gap-5;
      }
    }
  }


  .swiper-button-prev,
  .swiper-button-next {
    @apply hidden md:flex absolute top-1/2 z-20 bg-primary-500 w-10 h-10 rounded-full flex items-center justify-center;

    &:hover {
      @apply bg-base-900;
    }

    svg {
      @apply w-4 h-4 fill-base-100;
    }
  }

  .swiper-button-prev {
    @apply rotate-180;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: none !important;
  }
}

